body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.main{

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 20px; /* Add padding for spacing */
}

.registration-container {
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 40px; /* Ensure there's space at the bottom */
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.register-btn:hover {
    background-color: #555;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

.options {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.option {
    text-align: center;
    cursor: pointer;
}

.option img {
    width: 50px;
    height: 50px;
}

#dealership-details.hidden {
    display: none;
}

#dealership-details {
    margin-top: 20px;
}

html, body {
    height: 100%;
}

body {
    overflow-y: auto;
}

.image-preview {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
}

.upload-container {
    display: flex;
    flex-direction: column;  /* Stack input and preview vertically */
    align-items: flex-end;  /* Align items to the right */
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom */
    background-color: #f1f1f1; /* Optional: Add a background color */
    text-align: center; /* Center text */
    padding: 10px 0; /* Optional: Add padding for spacing */
}